name: Validate

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  deno:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Run validation
        run: deno task validate
